* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #000;
  scroll-behavior: smooth;
  background-image: url("https://preview.redd.it/modified-the-m3-mac-wallpaper-and-thought-it-looked-good-v0-powq8jb5j5bc1.jpeg?width=640&crop=smart&auto=webp&s=3a07b9692b2f87a48436d3bb049b90ce7471066f");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(15px);
  z-index: 50;
}
.header-nav {
  left: 76px;
  right: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header-img {
  width: 100px;
  height: 100px;
}
.li-site {
  text-decoration-line: none;
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
  position: relative;
}
.li-site:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #35c66b;
  transition: all 0.5s;
}
.li-site:hover:before {
  width: 100%;
}
.li-span {
  color: #959595;
  margin: 0;
  font-size: 24px;
}
.header-btn {
  border: none;
  background-color: #35c66b;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #35c66b;
  font-size: 15px;
  cursor: pointer;
}
.header-btn:hover {
  color: #35c66b;
  border: 2px solid #35c66b;
  background-color: #fff;
}
.main-section {
  padding-top: 84px;
  padding-bottom: 20px;
}
.ota {
  display: flex;
  gap: 310px;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.bola {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}
.ota-span {
  color: #808080;
  font-size: 30px;
}
.ota-name {
  color: #35c66b;
  margin: 0;
  font-size: 50px;
  margin-bottom: 20px;
}
.box-btn {
  display: flex;
  align-items: center;
}
.btn-ikki {
  border: none;
  background-color: #fff;
  padding: 11px 30px;
  border-radius: 5px;
  border: 2px solid #000;
  font-size: 15px;
  cursor: pointer;
  margin-left: 5px;
}
.btn-ikki:hover {
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
}
.ota-ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1d1d1d;
  border-radius: 5px;
  gap: 10px;
}
.man {
  border-radius: 70px;
}
.ota-li {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 10px;
  border-right: 2px solid #808080;
  gap: 5px;
}
.ota-lis {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.ikkinchi-section {
  width: 100%;
  height: 700px;
  background-image: url("./photo_2025-11-19\ 10.16.59.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-name {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-block: 20px;
}
.section-ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-block: 30px;
}
.ul-lis {
  width: 280px;
  background-color: #1d1d1d;
  padding: 40px 20px 40px;
  border-radius: 20px;
  text-align: center;
}
.li-name {
  color: #35c66b;
  margin: 0;
  margin-top: 20px;
}
.li-text {
  margin: 0;
  color: #808080;
  margin-block: 10px;
}
.li-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.tortinchi-section {
  padding-block: 40px;
}
.father {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.child {
  width: 500px;
}
.child-text {
  margin: 0;
  color: #808080;
}
.child-btn {
  border: none;
  color: #fff;
  background-color: #35c66b;
  padding: 10px 30px;
  border: 2px solid #35c66b;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 30px;
}
.child-btn:hover {
  color: #35c66b;
  background-color: #fff;
  border: 2px solid #35c66b;
}
.besh-section {
  padding-block: 25px;
}
.besh-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.besh-name {
  color: #35c66b;
  padding-block: 10px;
  margin: 0;
}
.besh-text {
  margin: 0;
  color: #808080;
  font-weight: 800;
}
.besh-li {
  text-align: center;
}
.olti-ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-block: 20px;
}
.yetti-section {
  padding-block: 20px;
  text-align: center;
}
.yetti-text {
  color: #fff;
  margin: 0;
  padding-bottom: 20px;
}
.besh-spn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  box-shadow: 0px 0px 0px 10px #35c66b;
  border-radius: 50%;
  margin-bottom: 20px;
}
.besh-spns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}
.besh-imgs {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.besh-imgg {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}
.besh-img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.card {
  width: 850px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.father-img {
  width: 360px;
  height: 358px;
  border-radius: 50px;
}
.card-input {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #1d1d1d;
  width: 350px;
  padding: 10px 10px;
  color: #fff;
}
.yetti-btn {
  border: none;
  border-radius: 10px;
  border: 2px solid #35c66b;
  background-color: #35c66b;
  color: #fff;
  font-size: 15px;
  padding: 10px 30px;
  margin-block: 30px;
  cursor: pointer;
  font-weight: 400;
}
.yetti-btn:hover {
  color: #35c66b;
  background-color: #fff;
  border: 2px solid #35c66b;
}
.img100 {
  width: 300px;
  height: 230px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.li100:hover {
  transform: translateY(-10px);
}
.li100 {
  background-color: #35c66b;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  transition: 1s;
  margin-bottom: 30px;
  font-size: 20px;
}
